<div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
        <a class="navbar-brand" style="color: white" routerLink="/home">
          Bharat Bijili Corporation </a>
  
        <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <button (click)="onLogout()"
              style="cursor: pointer; font-weight: bold; color: whitesmoke;background-color: rgb(98, 204, 98); border: none; padding: 5px 10px; border-radius: 5px;"
              class="nav-item nav-link"
              >Logout</button >
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  